<!-- Layout.html is the master page -->
{% extends 'layout.html' %}
<!-- Any syntax within Curly braces relates to python data pass as properties from app.py -->

<!-- Start of content block -->
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-6 wow bounceInDown" data-wow-delay="0.5s">
            <div class="card card-nav-tabs">
                <h4 class="card-header card-header-info">Date & Time</h4>
                <div class="card-body">
                    <h3 class="card-title">Today is: {{today}}</h3>
                    <div class="clock1" style="margin:2em;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-6 wow bounceInDown" data-wow-delay="0.5s">
            <div class="card card-nav-tabs">
                <h4 class="card-header card-header-success">Canteen Auntie</h4>
                <div class="card-body">
                    <div id="chatbox"></div>
                    <div id="userInput">
                        <form>
                            <input id="textInput" type="text" class="form-control" name="msg" placeholder="If you lost, must ask me hor!" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 wow bounceInUp">
            <div class="card">
                <div class="card-header card-header-tabs card-header-danger">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">Filter:</span>
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="nav-item">
                                    <a class="nav-link {{stalltab}}" href="#profile" data-toggle="tab">
                                        <i class="material-icons">local_dining</i> All Stalls
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {{searchtab}}" href="#messages" data-toggle="tab">
                                        <i class="material-icons">query_builder</i> Search by Time
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane {{stalltab}}" id="profile">
                            <div class="row">
                                <!-- Loops the entire stall list -->
                                {% for FoodStall in stall %}
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card mb-3">
                                        <img class="card-img-top" src="{{FoodStall.Image}}" height="150"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">{{ FoodStall.Name }}</h4>
                                            <p class="card-text">{{ FoodStall.Description }}</p>
                                            <a href="menu/{{FoodStall.StallID}}" class="btn btn-info">View Menu <i
                                                    class="material-icons">send</i></a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- End of for loop loop statement -->
                            </div>
                        </div>
                        <div class="tab-pane {{searchtab}}" id="messages">
                            <form method="POST" action="{{url_for('StallPage')}}">
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                            </div>
                                            <!-- Generate an HTML input tag with necessary error checking stated in form/SearchStallByDate.py -->
                                            {{form.date(class_="form-control", placeholder="Select Date")}}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-5">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">alarm</i>
                                                </span>
                                            </div>
                                            <!-- Generate an HTML input tag with necessary error checking stated in form/SearchStallByDate.py -->
                                            {{form.timeslot(class_="form-control")}}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <input type="submit" class="btn btn-danger" value="Search">
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                 <!-- Display special menu item list that's filtered from python function/stall.py -->
                                {% for FoodStall in filteredstall %}
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card mb-3">
                                        <img class="card-img-top" src="{{FoodStall.Image}}" height="150"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">{{ FoodStall.Name }}</h4>
                                            <p class="card-text">
                                                <b>Operating Hours:</b> <br> {{FoodStall.OpeningTime}} ~
                                                {{FoodStall.ClosingTime}} <br>
                                                <b>Open on:</b><br> {{FoodStall.Opened}} <br>
                                                <b>Closed on:</b> {{FoodStall.Closed}}
                                            </p>
                                            <a href="menu/{{FoodStall.StallID}}" class="btn btn-warning">View Menu <i
                                                    class="material-icons">send</i></a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
<!-- End of content block -->